STRIPE_PUBLISHABLE_KEY=pk_test_51Ib8CdHMLHqQLZhYqjUoPapsCmy6nRSuF4afjZLzctqcaupaxDADwdb7SROnrK3LeQVqNCjywPZ8IQ2n2VM7sc6100cRnfUzGo
STRIPE_SECRET_KEY=sk_test_51Ib8CdHMLHqQLZhYMk0Z5KoGQEEw3Qej466AiQIuDda5uOk9QWthyM146eBnLEVM09lrvBZ7yMlf5ePjaxoIY3yE00Qo72sTx7

admin_user=Jungle
admin_pass=book